@model Clinic.Models.LoginModel.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="~/Content/themes/base/minified/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="~/Content/themes/base/minified/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/themes/base/minified/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/plugins/iCheck/square/blue.css" rel="stylesheet" />
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/authentication/login"><b>Feed</b>TRACK</a>
        </div>
        <div class="login-logo" style="font-size: 18px;">
            <a href="#">Having trouble signing in?</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Please enter your Username or Email ID</p>
            <p class="login-box-msg" id="ErrorDisplay" style="color: red"></p>
            <form class="form-horizontal" id="ForgotPassFormID" action="/authentication/GetForgotPasswordDetails" method="post">
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Username or Email ID" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="button" onclick="ForgotPassword();" class="btn btn-primary btn-block btn-flat">Submit</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>

    <!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="~/plugins/jquery_tags/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="~/Scripts/minified/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/plugins/notification/notify.js"></script>
    <script src="~/Scripts/utility/common.js"></script>
    <script src="~/Scripts/utility/error.js"></script>
    <script src="~/Scripts/Validation/validation.js"></script>


    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        $("#ForgotPassFormID").submit(function (e) {
            debugger;
            $("#ErrorDisplay").text("");
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url: formURL,
                type: "POST",
                data: postData,
                success: function (message, textStatus, jqXHR) {

                    $("#ErrorDisplay").text("Please check your email");

                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
            e.preventDefault(); //STOP default action
            e.unbind(); //unbind. to stop multiple form submit.
        });
        function ForgotPassword() {
            debugger;
            var message = ValidateForgotPasswordDetails();
            if (message) {
                $("#ForgotPassFormID").submit();
            }
            else {
                $("#ErrorDisplay").text(message);
            }
        }
    </script>
</body>
</html>
