<select id="GenderDDL" onchange="OnGenderChange();" class="form-control">
    <option value="0">Select</option>
    <option value="1">Male</option>
    <option value="2">Female</option>
    <option value="3">Other</option>
</select>
