@model Clinic.Models.UserModel.UserModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        User
        <small>Add User</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/User/Index">User</a></li>
        <li>Add User</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div></div>
        <div id="AddUserFormDiv">
            @{Html.RenderPartial("AddUserForm");}
        </div>
    </div>
</section>

